@import "../../../global.scss";

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $purple-300;
  padding: 15px 50px 50px;

  &__title {
    color: $white;
    font-family: $font-family-inter;
    font-style: normal;
    font-size: 36px;
    border-bottom: 3px solid $green-500;
  }

  &__infos-wrapper {
    display: flex;
    gap: 50px;
    align-items: center;
  }

  &__image {
    width: 100%;
    max-width: 300px;
  }

  &__about-me {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 600px;
  }

  &__subtitle {
    font-family: $font-family-inter;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: $white;
  }

  &__text {
    font-family: $font-family-inter;
    font-style: normal;
    font-size: 16px;
    color: $white;
  }
}

@media screen and (max-width: 768px) {
  .about-page {
    &__title {
      font-size: 24px;
      margin-bottom: 20px;
    }

    &__infos-wrapper {
      flex-direction: column;
    }

    &__about-me {
      align-items: center;
      text-align: center;
    }

    &__subtitle {
      font-size: 20px;
    }

    &__text {
      font-size: 14px;
    }
  }
}
