.buttons-wrapper {
  position: fixed;
  bottom: 14px;
  right: 14px;
  z-index: 100;

  &__button-whatsapp {
    cursor: pointer;
  }

  &__button-up {
    display: flex;
    border-radius: 50%;
    height: 37px;
    width: 37px;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    cursor: pointer;
  }

  &__wpp-icon,
  &__back-to-top-icon {
    width: 50px;
    margin-left: -13px;
  }
}

@media screen and (max-width: 768px) {
  .buttons-wrapper {
    bottom: 5px;
    right: 3px;
  }
}
