@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Magra&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//variáveis
$white: #fff;
$black: #000;

$purple-500: #28203e;
$purple-300: #32284f;
$purple-200: #413369;

$green-500: #04d361;

$red-500: #9f0707;

$font-family-inter: "Inter", sans-serif;
$font-family-magra: "Magra", sans-serif;
